<div class="row">
    <div class="col-md-9">
      <% @posts.each do |post| %>
        <%= render 'posts/post', { post: post } %>
      <% end %>
      <ul class="pager">
          <li class="previous">
              <a href="#">&larr; Older</a>
          </li>
          <li class="next">
              <a href="#">Newer &rarr;</a>
          </li>
      </ul>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
