<div class="panel panel-default">
  <div class="panel-heading"><h4><%= fa_icon "bars" %> Content Menu</h4></div>
  <div class="panel-body">
    <p><span class="glyphicon glyphicon-chevron-right"></span> <%= link_to("Manage Posts", posts_path) %></p>
    <p><span class="glyphicon glyphicon-chevron-right"></span> <%= link_to("Manage Exercises", exercises_path) %></p>
    <p><span class="glyphicon glyphicon-chevron-right"></span> <%= link_to("Manage User Levels", user_levels_path) %></p>
    <p><span class="glyphicon glyphicon-chevron-right"></span> <%= link_to("Manage Year Categories", year_categories_path) %></p>
    <p><span class="glyphicon glyphicon-chevron-right"></span> <%= link_to("Manage Exercise Groups", exercise_groups_path) %></p>
  </div>
  <div class="panel-footer">
  </div>
</div>
