<div class="panel panel-default">
  <div class="panel-heading"><h4>Login</h4></div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      </div>
      <%= render "devise/shared/links" %>
  </div>
  <div class="panel-footer">
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
    <% end %>
</div>
