<div class="panel-body">
  <%= form_for @exercise_group do |f| %>
    <div class="field">
      <h3>Title</h3>
      <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "Title" %>
    </div></br>
</div>
<div class="panel-footer">
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
  </div>
</div>
<% end %>
