<div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Manage Exercise Groups</h4></div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <% @exercise_groups.each do |exercise_group| %>
              <tr>
                <td>
                  <strong><%= link_to(exercise_group.title, edit_exercise_group_path(exercise_group)) %></strong> (<%= exercise_group.created_at %>)
                </td>
                <td>
                  <div class="text-right"><%= link_to("DELETE", exercise_group, data: { confirm: "You sure?" }, method: :delete) %></div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to(new_exercise_group_path) do %>
            <button class="btn btn-lg btn-primary btn-block">New Exercise Group</button>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
