<div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Manage Year Categories</h4></div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <% @year_categories.each do |year_category| %>
              <tr>
                <td>
                  <strong><%= link_to(year_category.title, edit_year_category_path(year_category)) %></strong> (<%= year_category.created_at %>)
                </td>
                <td>
                  <div class="text-right"><%= link_to("DELETE", year_category, data: { confirm: "You sure?" }, method: :delete) %></div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to(new_year_category_path) do %>
            <button class="btn btn-lg btn-primary btn-block">New Year Category</button>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
