<div class="row">
    <div class="col-md-9">
      <div class="well">
        <h1>YearCategories#show</h1>
        <p>Find me in app/views/year_categories/show.html.erb</p>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
