<div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Manage User Levels</h4></div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <% @user_levels.each do |user_level| %>
              <tr>
                <td>
                  <strong><%= link_to(user_level.title, edit_user_level_path(user_level)) %></strong> (<%= user_level.level %>)
                </td>
                <td>
                  <div class="text-right"><%= link_to("DELETE", user_level, data: { confirm: "You sure?" }, method: :delete) %></div>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to(new_user_level_path) do %>
            <button class="btn btn-lg btn-primary btn-block">New User Level</button>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
