<div class="panel-body">
  <%= form_for @post do |f| %>
    <div class="field">
      <h3>Title</h3>
      <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "Title" %>
    </div></br>
      <h3>Short version</h3>
      <%= f.text_area :shorten,  class: "froala-editor", placeholder: "Concatinated"%>
      </br>
      <h3>Description</h3>
      <%= f.text_area :description,  class: "froala-editor", placeholder: "Description" %>
</div>
<div class="panel-footer">
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
  </div>
</div>
<% end %>
