<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= link_to(post.title, post_path(post)) %></h3>
    <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.created_at %>
    by Ugnius Skučas</p>
  </div>
  <div class="panel-body">
    <p><%= post.shorten.html_safe %></p>
  </div>
  <div class="panel-footer">
    <%= link_to post_path(post), class: "btn btn-primary" do %>
      Read More <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
  </div>
</div>
