<div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Manage Posts</h4></div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <% @posts.each do |post| %>
              <tr>
                <td>
                  <strong><%= link_to(post.title, post_path(post)) %></strong> (<%= post.created_at %>)
                  <p><%= post.shorten.html_safe %></p>
                </td>
                <td>
                  <%= link_to("DELETE", post, data: { confirm: "You sure?" }, method: :delete) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to(new_post_path) do %>
            <button class="btn btn-lg btn-primary btn-block">New Post</button>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
