<div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"><h3><%= @post.title %></h3></div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <%= @post.description.html_safe %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
