<div class="row">
    <div class='nested-fields'>
        <div class="form-group col-xs-5">
            <%= f.input :test_input, label: false, :input_html => {:style=> 'height:70px;width: 100%;resize:none'}%>
        </div>
        <div class="form-group col-xs-5">
            <%= f.input :test_output, label: false, :input_html => {:style=> 'height:70px;width: 100%;resize:none'} %>
        </div>
        <div class="form-group col-xs-2">
          <%= link_to_remove_association f, class: 'btn btn-danger pull-right' do %>
            Remove
            <span class="glyphicon glyphicon-minus"></span>
          <% end %>
        </div>
    </div>
</div>
