<div class="panel-body">
  <%= simple_form_for @exercise do |f| %>
    <div class="field">
      <h3>Title</h3>
      <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "Title" %>
    </div></br>

    <div class="field">
      <h3>Short version</h3>
      <%= f.text_area :shorten,  class: "froala-editor", placeholder: "Short Description" %>
    </div></br>

    <div class="field">
      <h3>Description</h3>
      <%= f.text_area :description,  class: "froala-editor", placeholder: "Long Description" %>
    </div><br>

    <div class="row">
      <div class="form-group col-xs-5">
        <h3>Input</h3>
      </div>
      <div class="form-group col-xs-5">
        <h3>Output</h3>
      </div>
    </div>

    <div class="field">
      <%= f.simple_fields_for :exercise_tests do |exercise_test| %>
    	 <%= render 'exercise_test_fields', :f => exercise_test %>
    	<% end %>
      <%= link_to_add_association f, :exercise_tests, class: 'btn btn-info pull-left' do %>
        Add new Test
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    </div>
</div>

<div class="panel-footer">
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
  </div>
</div>
<% end %>
