<div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Manage Exercises</h4></div>
        <div class="panel-body">
          <table class="table">
            <tbody>
              <% @exercises.each do |exercise| %>
              <tr>
                <td>
                  <strong><%= link_to(exercise.title, exercise_path(exercise)) %></strong> (<%= exercise.created_at %>)
                  <div class="fr-view"><%= exercise.shorten.html_safe %></div>
                </td>
                <td>
                  <%= link_to("DELETE", exercise, data: { confirm: "You sure?" }, method: :delete) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <%= link_to(new_exercise_path) do %>
            <button class="btn btn-lg btn-primary btn-block">New Exercise</button>
          <% end %>
        </div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
