<div class="row">
    <div class="col-md-9">
      <div class ="panel panel-default">
          <div class="panel-heading"><h4>Create New Post<h4></div>
            <%= render 'form_panel' %>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
