<div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"><h4><span class="glyphicon glyphicon-chevron-right"></span> <%= @exercise.title %></h4>
          <%= @exercise.get_status(current_user.id) %>
        </div>
        <div class="panel-body">
          <div class="fr-view"><%= @exercise.description.html_safe %></div>
        </div>
        <div class="panel-footer">
          <%= link_to new_solution_path(@exercise.id), class: "btn btn-primary" do %>
            Submit Solution <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
          <div class="pull-right">
            <%= link_to filter_solution_path(@exercise.id), class: "btn btn-primary" do %>
               <span class="glyphicon glyphicon-chevron-left"></span> View Solutions
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
