<div class="row">
    <div class="col-md-9">
      <div class ="panel panel-default">
          <div class="panel-heading"><h4>My solutions for <%= @exercise.title %><h4></div>
          <div class="panel-body">
            <% @solutions.each do |solution| %>
              <%= solution.exercise.title %> -
              <%= solution.status %> -
              <%= solution.updated_at %><br />
            <% end %>
          </div>
          <div class="panel-footer">
            <%= link_to exercise_path(@exercise.id), class: "btn btn-primary" do %>
              Back to Exercise <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
