<div class="row">
    <div class="col-md-9">
      <div class ="panel panel-default">
          <div class="panel-heading"><h4>Submit new Solution for <%= @exercise.title %><h4></div>
          <div class="panel-body">
            <%= form_tag(@solution, multipart: true) do %>
              <%= file_field_tag 'solution_file' %>
              <%= submit_tag 'Submit Solution' %>
            <% end %>
          </div>
          <div class="panel-footer"></div>
      </div>
    </div>
    <%= render 'layouts/sidebar_static' %>
</div>
