<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="well">
        <img class="img-responsive" src="http://placehold.it/900x200" alt="">
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
