<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to(root_url, class: "navbar-brand") do %>
              <%= fa_icon "laptop" %> Title
            <% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                <%= link_to("Exercises", static_exercises_path) %>
              </li>
              <li>
                  <a href="#">About</a>
              </li>
          </ul>
            <ul class="nav navbar-nav pull-right">
                <% if current_user %>
                  <li>
                    <%= link_to(destroy_user_session_path, :method => :delete) do %>
                      <%= fa_icon "lock", text: "Logout" %>
                    <% end %>
                  </li>
                <% end %>
            </ul>
        </div>
         <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
