<!DOCTYPE html>
<html>
  <head>
    <title>Ktupvs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <%= render 'layouts/navbar' %>
  <body>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info", id: "alert_message") %>
      <% end %>
      <%= render 'layouts/logo' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
